In [1]:
import pandas as pd
import numpy as np
from numba import jit
import zipfile

In [2]:
zfile = zipfile.ZipFile('1_min_SPY_2008-2021.zip')
zfile.extractall()

In [3]:
data = pd.read_csv("1_min_SPY_2008-2021.csv", parse_dates=True)

In [4]:
data['date_'] = pd.to_datetime(data['date'].str.split(" ").apply(lambda x: x[0]))
data['year'] = data['date_'].dt.year

In [5]:
cols = ['date','date_','year','open','high','low','close','volume','barCount','average']

data = data.sort_values(by='date', ascending=True).reset_index(drop=True)[cols]

In [6]:
data

,date,date_,year,open,high,low,close,volume,barCount,average
0,20080122 07:30:00,2008-01-22,2008,126.45,126.82,126.00,126.67,30987,4541,126.283
1,20080122 07:31:00,2008-01-22,2008,126.67,127.17,126.39,127.12,20111,3125,126.958
2,20080122 07:32:00,2008-01-22,2008,127.10,127.13,126.71,126.78,11979,2074,126.922
3,20080122 07:33:00,2008-01-22,2008,126.76,126.90,126.53,126.54,8017,1350,126.675
4,20080122 07:34:00,2008-01-22,2008,126.54,127.18,126.54,126.78,11967,1253,126.730
...,...,...,...,...,...,...,...,...,...,...
2070829,20210506 13:55:00,2021-05-06,2021,418.56,418.77,418.48,418.49,9073,4584,418.660
2070830,20210506 13:56:00,2021-05-06,2021,418.50,418.73,418.47,418.64,6680,3095,418.622
2070831,20210506 13:57:00,2021-05-06,2021,418.64,418.79,418.63,418.79,6912,2868,418.744
2070832,20210506 13:58:00,2021-05-06,2021,418.79,418.83,418.71,418.76,7891,3862,418.784
2070833,20210506 13:59:00,2021-05-06,2021,418.76,419.21,418.76,419.08,18343,8005,419.014

## 1. First, compute daily and weekly vol from the S&P 500 tick data

In [19]:
ret_cols = ['date','date_','close']

data_returns = data[ret_cols]#.set_index('date')
data_returns['ret'] = data_returns['close'].pct_change()
# data_returns.groupby('date_')['ret']

## 2. Analyze features - histograms, describe(), fill/remove missing data, violin/box plot

### 2.1

## 3. Linear models - Run linear regression with regularization terms - L1,L2 and maybe elastic net (not covered in class).

## 4. Non linear - Tree models - test out Tree Regression simple model